<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="Red">
    <center><h1 style="color: rgb(166, 255, 0);">Welcome to the page</h1></center>
    <hr>
<form method="post">
    {% csrf_token %}
    <input type="text" placeholder="Firstname" name="firstname"> <br><br>
    <input type="text" placeholder="Lastname" name="lastname"> <br><br>
    <input type="email" placeholder="email" name="email"> <br><br>
    <textarea placeholder="Address" name="address"></textarea><br><br>
    <input type="number" placeholder="Mobile" name="mobile"> <br><br>
    <input type="date" placeholder="DOB" name="DateofBirth"> <br><br>
    
    <input type="submit">
    <input type="reset"> <br><br>
    <hr>
    <a href="showdata.html">showdata</a>
</form>
</body>
</html>